@{ ViewBag.Title = "首页";

    var GameDataManager = ViewData["GameDataManager"] as GameDataManager;
    var PvCounter = (ViewData["PvCounter"] as IEnumerable<PvCounter>).Where(m => m.Time > DateTime.Now.AddDays(-1)).GroupBy(m => m.Type).ToDictionary(m => m.Key, m => m.GroupBy(n => n.Name).ToDictionary(n => n.Key, n => n.Count()));

}

<style>
    .tops .itemlist > * { display:block;text-align:left;}
    .links .btn { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-decoration: none; }
        .links .btn:hover { text-decoration: none; }
            .links .btn:hover span:first-child { text-decoration: underline; }
    </style>
<header class="my-5">
    <div class="container">
        <div class="alert alert-info" role="alert">
            <p>这是一个未完成的版本，内容可能会随时更改。</p>
            <p>如果你发现了什么问题，欢迎到 <a href="https://github.com/tlos142857/HumphreyJ.Netcore.MKHX/issues">报错/反馈</a> 模块进行反馈</p>
        </div>
        @if ((Context.Request.Headers["User-Agent"] + "").ToLower().Contains("edge/"))
        {
            <div class="alert alert-warning" role="alert">
                <p><i class="fa fa-edge"></i> Edge 浏览器的请求头存在编码缺陷，若浏览期间出现内容显示不正常、部分信息无法载入等类似问题，请换用 Chrome 浏览器。</p>
            </div>
        }
    </div>
</header>
<div class="container links my-5">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8">
            <h6>最新文章</h6>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
            <a href="#" class="btn btn-link btn-block text-left">
                <span>标题标题标题标题标题标题标题</span>
                <span class="small text-muted">作者</span>
            </a>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <h6>讨论</h6>
            <div id="GithubIssue">
                载入中&#x2026;
            </div>
            <script>
                (function ($) {
                    $.get('/getdata/GithubIssue', function (r) {
                        var template = `<a href="#" class="issue-item btn btn-link btn-block text-left"><span class="issue-title"></span><br><span class="issue-user small text-muted"></span><span class="issue-time ml-2 small text-muted"></span></a>`;

                        var html = $('<div></div>');

                        $(r).find('.js-issue-row').each(function (i, e) {
                            var li = window.li = $(e);

                            var link = 'https://github.com' + li.find('.h4').attr('href').trim();
                            var title = li.find('.h4').text().trim();
                            var user = li.find('.muted-link').text().trim();
                            var time = new Date(li.find('relative-time').attr('datetime'));
                            user = user == 'tlos142857' ? '汉弗莱基斯' : user;

                            var a = $(template).attr('target', '_blank').attr('href', link);
                            a.find('.issue-title').text(title);
                            a.find('.issue-user').text(user);
                            a.find('.issue-time').text(time.toLocaleString());

                            a.appendTo(html);
                        });

                        $('#GithubIssue').html(html.html());
                    });
                })(jQuery);
            </script>
        </div>
    </div>
</div>
<div class="container tops my-5">
    <div class="row">
        @if (PvCounter.ContainsKey("card"))
        {
            <div class="col-4">
                <h6>热门卡牌</h6>
                <div class="row">
                    @foreach (var i in PvCounter["card"].OrderByDescending(m => m.Value).Select(m => GameDataManager.CardList.FirstOrDefault(n => n.CardId + "" == m.Key || n.CardName == m.Key)).Where(m => m != null).Take(8))
                    {
                        <div class="col-12 col-lg-6 itemlist">
                            @Html.Partial("~/Views/Shared/partial/Card.cshtml", i)
                        </div>
                    }
                </div>
            </div>
        }
        @if (PvCounter.ContainsKey("rune"))
        {
            <div class="col-4">
                <h6>热门符文</h6>
                <div class="row">
                    @foreach (var i in PvCounter["rune"].OrderByDescending(m => m.Value).Select(m => GameDataManager.RuneList.FirstOrDefault(n => n.RuneId + "" == m.Key || n.RuneName == m.Key)).Where(m => m != null).Take(8))
                    {
                        <div class="col-12 col-lg-6 itemlist">
                            @Html.Partial("~/Views/Shared/partial/Rune.cshtml", i)
                        </div>
                    }
                </div>
            </div>
        }
        @if (PvCounter.ContainsKey("skill"))
        {
            <div class="col-4">
                <h6>热门技能</h6>
                <div class="row">
                    @foreach (var i in PvCounter["skill"].OrderByDescending(m => m.Value).Select(m => GameDataManager.SkillList.FirstOrDefault(n => n.Abbreviation == m.Key)).Where(m => m != null).Take(8))
                    {
                        <div class="col-12 col-lg-6 itemlist">
                            @Html.Partial("~/Views/Shared/partial/SkillAbbr.cshtml", new ParsedSkillData[] { i }.GroupBy(m => m.Abbreviation).First())
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

