@model HumphreyJ.NetCore.MKHX.GameData.ParsedCardData
@{
    var className = new Dictionary<int, string> {
{1,"secondary" },
{2,"success" },
{3,"primary" },
{4,"info" },
{5,"warning" },
}[Model.Color];
}<a class="btn btn-outline-@(className) m-1 border-0" href="/carddata/detail/@(Model.CardId)"><img src="~/images/race@(Model.Race).png" style="height:1.4em"> <span>@(Model.CardName)</span></a>