@model HumphreyJ.NetCore.MKHX.GameData.ParsedCardData
@if (Model == null)
{
    <a class="btn btn-outline-danger m-1 border-0">引用了不存在的卡牌</a>
}
else
{
    var className = EnumAccesser.CardColorCss.ToDictionary(m => m.Key, m => m.Value.Name)[Model.Color];
    <a class="btn btn-outline-@(className) m-1 border-0" href="/carddata/detail/@(Model.CardId)"><img src="~/images/race@(Model.Race).png" style="height:1.4em"> <span>@(Model.CardName)</span></a>
}