@model IEnumerable<ParsedCardData>
@{
    var view = (ViewData["view"] ?? "") as string;
    var server = Context.Request.Cookies["server"].ToLower();
    if (view == "icon")
    {
        <div class="mkhx-card-list clearfix pl-0 pl-sm-5">
            @foreach (var i in Model)
            {
                if (server.Contains('x'))
                {
                    @await Html.PartialAsync("~/Views/Shared/partial/CardIconX.cshtml", i)
                }
                else
                {
                    @await Html.PartialAsync("~/Views/Shared/partial/CardIcon.cshtml", i)
                }
            }
        </div>
    }
    else
    {
        <div class="mkhx-card-list pl-0 pl-sm-3 pl-lg-5 clearfix">
            @foreach (var i in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/partial/Card.cshtml", i)
            }
        </div>
    }
}