@model HumphreyJ.NetCore.MKHX.GameData.ParsedMapStageData
<a href="/mapstagedata/normal/@(Model.LevelNumber[0])" class="d-inline-block mx-3 my-1">
    <span class="badge badge-secondary mr-1">@(Model.LevelNumber[0]))</span><span>@Model.Name</span>
</a>