@model HumphreyJ.NetCore.MKHX.GameData.ParsedMapStageDetailData
<a href="/mapstagedata/hard/@(Model.LevelNumber[0])-@(Model.LevelNumber[1])" class="d-inline-block mx-3 my-1">
    <span class="badge badge-secondary mr-1">噩梦 @(Model.LevelNumber[0])-@(Model.LevelNumber[1])</span><span>@Model.Name</span>
</a>