
@{
    ViewData["Title"] = "关于 ";
}

<h2>@(ViewData["Title"])</h2>

<ul>
    <li><a href="https://github.com/tlos142857/HumphreyJ.Netcore.MKHX">GitHub项目地址</a></li>
    <li><a href="https://github.com/tlos142857/HumphreyJ.Netcore.MKHX/commits/master">主线版本更新记录</a></li>
</ul>
