
@{
    ViewData["Title"] = "关于 ";
}

<div class="container">
    <h5 class="pt-3 d-none d-md-block">@ViewBag.Title</h5>

    <article class="pt-3">

        <ul>
            <li><a target="_blank" href="https://github.com/HumJ0218/HumphreyJ.Netcore.MKHX">GitHub项目地址</a></li>
            <li><a target="_blank" href="https://github.com/HumJ0218/HumphreyJ.Netcore.MKHX/commits/master">主线版本更新记录</a></li>
        </ul>

    </article>
</div>

