@model AffectTypeContent

@{
    var AffectType = this.Model;
    var SkillList = ViewData["SkillList"] as IEnumerable<ParsedSkillData>;

    ViewBag.Title = "技能种类 > " + AffectType.Name;

}

<style>
    .mkhx-skillcontent p { text-indent: 2em; }
        .mkhx-skillcontent p + p { margin-top: -16px; }
</style>
<div class="container">
    <h5 class="pt-3 d-none d-md-block">@ViewBag.Title</h5>

    <div class="alert alert-secondary">此处描述是根据实际游戏数据总结而来，仅供参考，不保证完全的准确性和实效性</div>

    @if (!string.IsNullOrEmpty(AffectType.AffectValue1 + AffectType.AffectValue2))
    {
        <h6 class="pt-3">参数格式</h6>
        <p>
            @if (!string.IsNullOrEmpty(AffectType.AffectValue1))
            {
                <span class="d-inline-block" style="margin-left:2em;"><b>参数1</b><span class="atv" style="margin-left:1em;">@(AffectType.AffectValue1)</span></span>
            }
            @if (!string.IsNullOrEmpty(AffectType.AffectValue2))
            {
                <span class="d-inline-block" style="margin-left:2em;"><b>参数2</b><span class="atv" style="margin-left:1em;">@(AffectType.AffectValue2)</span></span>
            }
        </p>
    }

    <h6>种类效果</h6>
    <p class="atv" style="text-indent:2em">@(AffectType.Desc)</p>

    <article class="mkhx-skillcontent p-0 pt-3">
        <div class="border border-secondary">
            <div class="p-3 bg-dark">包含技能</div>
            <div class="p-3">
                @foreach (var item in SkillList)
                {@Html.Partial("~/Views/Shared/partial/Skill.cshtml", item)}
            </div>
        </div>
    </article>
</div>

<script src="~/js/md5.js"></script>
<script>
    (function () {

        var getColor = function (str) {
            var val = hex_md5(str);
            var h = parseInt('0x' + val.substr(0, 8)) % 360;
            var s = parseInt('0x' + val.substr(8, 8)) % 50 + 50;
            var l = parseInt('0x' + val.substr(16, 8)) % 25 + 50;
            return 'hsl(' + h + ',' + s + '%,' + l + '%)';
        };

        $('.atv').each(function (i, e) {
            var text = e.innerText;
            var a = text.split('{');
            for (var i in a) {
                var b = a[i].split('}');
                if (b.length == 2) {
                    btext = b[0];
                    bcss = b[0];

                    bcss = bcss.replace('%', '_');
                    bcss = bcss.replace('[', '_');
                    bcss = bcss.replace(']', '_');
                    bcss = bcss.replace('?', '_');

                    var color = getColor(bcss)

                    b[0] = '<span class="affecttypevaluename-' + bcss + '" style="color:' + color + '">{' + btext + '}</span>';
                    a[i] = b.join('');
                }
            }
            var html = a.join('');
            e.innerHTML = html;
        });
    })();
</script>
