<!doctype html>
<html lang="zh-cn" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;text-size-adjust: 100%; ">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="theme-color" content="rgb(30,30,30)" />
    <meta name="viewport" content="width=520px, user-scalable=no, shrink-to-fit=no" />

    @*<meta name="description" content="">*@
    @*<meta name="author" content="">*@

    <title>魔卡百科 | @ViewBag.Title</title>

    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
    <link rel="mask-icon" href="/favicon.png" />
    <link rel="shortcut icon" href="/favicon.png" />

    <link href="https://oss2.humphreyj.com/script/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://oss2.humphreyj.com/script/bootswatch-4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="https://oss2.humphreyj.com/script/jquery-3.4.1/jquery.min.js"></script>
    <script src="https://oss2.humphreyj.com/script/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <div class="forSpider">提供全面的《魔卡幻想》游戏数据。包括S服、WP服、N服、页游X服的卡牌、符文、技能、关卡等数据，与游戏同步更新。</div>

    @await Html.PartialAsync("_Navbar.cshtml")

    <main role="main" class="clearfix">

        @RenderBody()

    </main>

    @await Html.PartialAsync("_Footer.cshtml")

    <script>
        (function () {
            $('.modal').appendTo(document.body).on('show.bs.modal', function (ev) {
                var e = $(ev.target);
                if (!e.attr('data-ajax-ready')) {
                    e.find('.modal-body').load(e.attr('data-contentpath'), function () {
                        e.attr('data-ajax-ready', 'true');
                    });
                }
            });
        })();
    </script>

</body>
</html>
