<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="d-none d-sm-inline">魔卡百科</span><span class="d-none d-sm-inline d-md-none"> | </span><span class="d-md-none">@ViewBag.Title</span></a>
        <button class="navbar-toggler float-right" aria-expanded="false" aria-controls="navbarResponsive" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carddata">卡牌</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/runedata">符文</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/skilldata">技能</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapstagedata">地图关卡</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/article">攻略</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        工具
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="http://www.mkhx.top" target="_blank">模拟器<sub> <i class="fa fa-external-link"></i></sub></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/util/datacomparer">数据对比</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/HumJ0218/HumphreyJ.Netcore.MKHX/issues" target="_blank">报错/反馈</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.Partial("_VersionSelector")
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-0" href="/about">关于百科</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar">
    <span class="navbar-brand">MKHX</span>
</nav>
<div class="session-server" style="position:fixed;z-index:-1; right:1rem;bottom:3rem;font-size:8rem;font-family:Arial, Helvetica, sans-serif;font-weight:900;color:rgba(127,127,127,0.2);line-height:1em;"><i class="fa"></i>@(Context.Request.Cookies["server"])</div>
