
@{
    ViewData["Title"] = "魔卡幻想数据百科";
}

<header class="my-5">
    <div class="container">
        <div class="alert alert-info" role="alert">
            <p>请先选择数据版本</p>
        </div>
    </div>
</header>
<script>
    $(function () { $('#versionselectorButton').click(); });
</script>
